.header {
    .header_title {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        span {
            color: #3AAA35;
            text-decoration: underline;
        }
        @media only screen and (max-width: 600px)  {
            font-size: 46px;
            padding:  0 5px;
            line-height: 55px;
        }
    }
    .header_description {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        line-height: 45px;
        padding:  0 60px;
        display: block;
        color: #23262B;
        @media only screen and (max-width: 600px)  {
            padding:  0 20px;
            font-size: 20px;
            line-height: 35px;
            margin-top: 40px;
        }
    }
    .header_desc {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        line-height: 45px;
        display: block;
        color: #23262B;
        margin: 0 auto;
        width: 50%;
        @media only screen and (max-width: 600px)  {
            width: 100%;
            padding:  0 5px;
        }
    }
    .header_image {
        width: 100%;
        overflow: hidden;
        margin: 100px 0;
        >img {
            width: 100%;
        }
        @media only screen and (max-width: 600px)  {
            margin: 40px 0;
        }
    }
}